*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
/settings/dev.py
/settings/local.py
/secret_key.txt
/media/
/static/
/venv/
/ENV/
*.js
*.css
*.scss
*.less
!frontend/**/*.css
!frontend/**/*.scss
!frontend/**/*.js
/build/
/dist/
.vscode/
.idea/
.cache/
.pytest_cache/
/coverage/
.env
/log/
/frontend/.env
/frontend/node_modules
/frontend/dist
validate_token.py
